{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
  <title>Adoptuj4Łapy - formularz kontaktowy</title>
{% endblock %}
{% block content %}
<div class="col">
</div>
<div class="col-md-10">
  <div class="panel">
    <div class="panel_header text-center align-middle">
      <h2>Formularz kontaktowy</h2>
    </div>
    <p class="mb30">Chętnie odpowiem na Twoje pytania. Skontaktuj się ze mną poprzez poniższy formularz kontaktowy.</p>
    <div class= "d-block">
    <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <div class="form-actions">
      <button type="submit">Wyślij wiadomość</button>
    </div>
    </div>
</div>
</div>
<div class="col">
</div>
{% endblock %}
