{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}
  <title>Adoptuj4Łapy - lista schronisk</title>
{% endblock %}
{% block content %}
<div class="col">
</div>
<div class="album py-5 bg-light fullHeightDiv">
<div class="container">
  <div class="row fullHeightDiv">
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../static/images/paluch.jpeg" alt="Card image cap">
        <div class="card-body">
          <br>
          <p class=shelter_name> <b>Schronisko Na Paluchu w Warszawie</b> </p>
          <p class="card-text">ul. Paluch 2<br />02-147 Warszawa</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <p>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_tel_Paluc" role="button" aria-expanded="false" aria-controls="collapse_tel_Paluch">Telefon</a>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_mail_Paluch" role="button" aria-expanded="false" aria-controls="collapse_mail_Paluch">Mail</a>
              </p>
              <div class="collapse" id="collapse_tel_Paluc">
                <div class="card card-body">
                  +48 228460236
                </div>
              </div>
              <div class="collapse" id="collapse_mail_Paluch">
                <div class="card card-body">
                  ba@napaluchu.waw.pl
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../static/images/ciapkowo.jpeg" alt="Card image cap">
        <div class="card-body">
          <br>
          <p class=shelter_name> <b>Schronisko Ciapkowo w Gdyni  </b> </p>
          <p class="card-text">ul. Małokacka 3A<br/>81-654 Gdynia</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <p>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_tel_Ciapkowo" role="button" aria-expanded="false" aria-controls="collapse_tel_Ciapkowo">Telefon</a>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_mail_Ciapkowo" role="button" aria-expanded="false" aria-controls="collapse_mail_Ciapkowo">Mail</a>
              </p>
              <div class="collapse" id="collapse_tel_Ciapkowo">
                <div class="card card-body">
                  +48 228460236
                </div>
              </div>
              <div class="collapse" id="collapse_mail_Ciapkowo">
                <div class="card card-body">
                  ba@napaluchu.waw.pl
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../static/images/ktonz.png" alt="Card image cap">
        <div class="card-body">
          <br>
          <p class=shelter_name> <b>Krakowskie Towarzystwo Opieki nad Zwierzętami</b> </p>
          <p class="card-text">ul.Rybna 3<br />30-254 Kraków</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <p>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_tel_Krk" role="button" aria-expanded="false" aria-controls="collapse_tel_Krk">Telefon</a>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_mail_Krk" role="button" aria-expanded="false" aria-controls="collapse_mail_Krk">Mail</a>
              </p>
              <div class="collapse" id="collapse_tel_Krk">
                <div class="card card-body">
                  +48 228460236
                </div>
              </div>
              <div class="collapse" id="collapse_mail_Krk">
                <div class="card card-body">
                  ba@napaluchu.waw.pl
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-4 box-shadow">
        <img class="card-img-top" src="../static/images/milanowek.jpeg" alt="Card image cap">
        <div class="card-body">
          <br>
          <p class=shelter_name> <b>Schronisko w Milanówku</b> </p>
          <p class="card-text">ul. Brwinowska 48<br />05-822, Milanówek</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <p>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_tel_Milan" role="button" aria-expanded="false" aria-controls="collapse_tel_Milan">Telefon</a>
                <a class="btn btn-info" data-toggle="collapse" href="#collapse_mail_Milan" role="button" aria-expanded="false" aria-controls="collapse_mail_Milan">Mail</a>
              </p>
              <div class="collapse" id="collapse_tel_Milan">
                <br>
                <div class="card card-body">
                  +48 228460236
                </div>
              </div>
              <div class="collapse" id="collapse_mail_Milan">
                <div class="card card-body">
                  ba@napaluchu.waw.pl
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
</div>
{% endblock %}
